@import "~@angular/material/theming";

@include mat-core();

$projeto-bfc-primary: mat-palette($mat-indigo);
$projeto-bfc-accent: mat-palette($mat-pink, A200, A100, A400);

$projeto-bfc-warn: mat-palette($mat-red);

$projeto-bfc-theme: mat-light-theme(
  (
    color: (
      primary: $projeto-bfc-primary,
      accent: $projeto-bfc-accent,
      warn: $projeto-bfc-warn,
    ),
  )
);

@include angular-material-theme($projeto-bfc-theme);

html,
body {
  height: 100%;
  background-color: #1C1B1B;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  padding-top: 1rem;
  box-sizing: border-box;
}
